[package]
name = "pmt"
version = "0.1.0"
license = "MIT"
edition = "2021"
default-run = "pmt"
rust-version = "1.81"

[dependencies]
accesskit = "=0.16.1"
egui = { version = "0.29.1" }
egui_extras = "0.29.1"
eframe = { version = "0.29.1", features = ["persistence"] }
strum = { version = "0.26.1", features = ["derive"] }
bs58 = "0.5.0"
base64 = "0.22.1"
copypasta = "0.10.1"
dash-sdk = { git = "https://github.com/dashpay/platform", branch = "feat/set-context-provider-no-mut" }
thiserror = "1"
serde = "1.0.197"
serde_json = "1.0.120"
toml = { version = "0.8.10", features = ["display"] }
tokio = { version = "1.36.0", features = ["full"] }
reqwest = { version = "0.12.3", features = ["json"] }
bincode = { version = "2.0.0-rc.3", features = ["serde"] }
hex = { version = "0.4.3" }
itertools = "0.13.0"
futures = "0.3.30"
walkdir = "2"
rand = "0.8"
memoize = "0.4.2"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
dotenvy = "0.15.7"
envy = "0.4.2"
clap = { version = "4.5.20", features = ["derive"] }
governor = "0.6.3"
tokio-util = "0.7.10"
chrono = "0.4"
chrono-humanize = "0.2.3"
dashmap = "5.5.3"
grovedb-version = "2.0.3"
sha2 = "0.10.8"
arboard = { version = "3.4.0", default-features = false, features = [
    "windows-sys",
] }

hdrhistogram = "7.5.4"
rusqlite = { version = "0.32.1" }
serde_yaml = "0.9.34+deprecated"
