[Desktop Entry]
Name=Dash Evo Tool
Comment=Graphical user interface for interacting with Dash Evolution
Exec=dash-evo-tool
Icon=org.dash.DashEvoTool
Type=Application
Categories=Finance;Network;Utility;
StartupWMClass=dash-evo-tool
