[Desktop Entry]
Name=Dash Evo Tool
Comment=Graphical user interface for interacting with Dash Evolution
Exec=dash-evo-tool
Icon=org.dash.DashEvoTool
Type=Application
Terminal=false
Categories=Finance;Network;Utility;
Keywords=Dash;Blockchain;Crypto;Wallet;DPNS;Evolution;
StartupWMClass=org.dash.DashEvoTool
