name: Release Dash Evo Tool

on:
  push:
    tags:
      - 'v*'
      - 'v*-dev.*'
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      tag:
        description: "Version (i.e. v0.1.0)"
        required: true

jobs:
  build-and-release:
    name: Build and Release Dash Evo Tool
    runs-on: ["self-hosted"]
    strategy:
      matrix:
        os: [self-hosted]
        arch: [amd64, arm64]
        include:
          - platform: linux/amd64
            runner: ["self-hosted", "linux", "X64"]
            target: x86_64-unknown-linux-gnu
          - platform: linux/arm64
            runner: ["self-hosted", "linux", "arm64"]
            target: aarch64-unknown-linux-gnu
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
          override: true

      - name: Install essentials
        run: sudo apt-get update && sudo apt-get install -y build-essential pkg-config

      - name: Install package (ARM64 only)
        if: matrix.arch == 'arm64'
        run: |
          sudo apt-get update
          sudo apt-get install -y aarch64-linux-gnu-gcc
  
      - name: Build project
        run: cargo build --release --target ${{ matrix.target }}

      - name: Upload build artifact
        uses: actions/upload-artifact@v3
        with:
          name: dash-evo-tool-${{ matrix.platform }}
          path: target/${{ matrix.target }}/release/dash-evo-tool

    continue-on-error: true

  release:
    name: Create GitHub Release
    needs: build-and-release
    runs-on: ubuntu-latest
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v3
        with:
          name: dash-evo-tool-*
          path: ./release

      - name: Publish release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: ./release/dash-evo-tool-*
          draft: false
          prerelease: false